@import '../../../../styles/variables';

.year {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 3.333vw; //64px; 1920
	z-index: 2;
	transform: translateY(-2.97vw); //58px; 1920
    // position: absolute;
    // transform: translate(-50%, calc(-50% - 3.021vw));
    // left: 50%;
    // top: 50%;

	h1:nth-child(1) {
		color: $color-iris;
	}
	h1:nth-child(2) {
		color: $color-fuschia;
	}

	@media (max-width: 768px) {
		transform: translateY(-32vw); //-120px, 375
	}
}
