.customArrow {
	background-color: white;
	padding: 15px 18px;
	border: 0;
	border-radius: 50%;
	box-shadow: 0px 0px 15px 0px rgba(56, 119, 238, 0.1);
	transition: all 0.4s ease-in-out;
	transform: rotate(180deg);
	position: absolute;
	right: 1.25vw; //24px; 1920
	bottom: 7.833vw; //112px; 1920

	&:hover {
		box-shadow: 0px 0px 30px 0px rgba(56, 119, 238, 0.5);
		cursor: pointer;
	}

	@media (max-width: 768px) {
		display: none;
	}
}
