.title {
	&__container {
		position: absolute;
		left: 0;
		top: 11.198vw;

		h2 {
			position: relative;
			display: inline-block;
			padding-left: 4.063vw; //78px; 1920
			visibility: hidden;
			opacity: 0;

			@media (max-width: 768px) {
				padding-left: 0px;
			}

			&::before {
				content: '';
				position: absolute;
				left: 0;
				top: 50%;
				transform: translateY(-50%);
				width: 4px;
				height: 6.25vw; //120px; 1920
				background: linear-gradient(180deg, #3877ee -5%, #ef5da8 85%);

				@media (max-width: 768px) {
					display: none;
				}
			}
		}
	}
}
