@import '../../styles/variables';

.masthead {
	padding: 0 200px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: $color-bg;

	@media (max-width: 768px) {
		padding: 0 20px;
	}

	&__container {
		min-height: 100vh;
		width: 100vw;
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;

	

		.leftLine {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			width: 1px;
			background-color: rgba(66, 86, 122, 0.2);

			@media (max-width: 768px) {
				display: none;
			}
		}

		.middleLine {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 50%;
			width: 1px;
			background-color: rgba(66, 86, 122, 0.2);
			transform: translateX(-50%);

			@media (max-width: 768px) {
				display: none;
			}
		}

		.rightLine {
			position: absolute;
			top: 0;
			bottom: 0;
			right: 0;
			width: 1px;
			background-color: rgba(66, 86, 122, 0.2);

			@media (max-width: 768px) {
				display: none;
			}
		}

		.horizontalLine {
			position: absolute;
			left: 0;
			right: 0;
			top: 25vw; //480px
			height: 1px;
			background-color: rgba(66, 86, 122, 0.2);
			transform: translateY(-50%);

			@media (max-width: 768px) {
				left: 50%;
				right: 0;
				top: 50%;
				height: 1px;
				transform: translate(-50%, -50%);
				width: 100%;
			}
		}

		.counterButtons {
			padding-left: 4.063vw; //78px; 1920
			display: flex;
			flex-direction: column;
			gap: 20px;
			position: absolute;
			left: 0;
			bottom: 17.083vw; //328px
		}
	}
}
