.swiper {
	width: 90% !important;
	position: absolute !important;
	bottom: 6.417vw !important;
	cursor: pointer !important;

	@media (max-width: 768px) {
		bottom: 26vw !important;
	}
}

.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
	display: inline-block !important;
	position: absolute !important;

	bottom: 11px !important;
	margin: 0 auto !important;
	display: flex !important;
	justify-content: center !important;
	width: 100% !important;
}

.swiper-pagination,
.swiper-pagination-bullets,
.swiper-pagination-horizontal {
	display: none !important; 
}

.swiper-button-prev,
.swiper-button-next {
	display: none !important;
}

.swiper-button-next:after,
.swiper-button-prev:after {
	display: none !important;
}

.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
	display: none !important;
}

.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
	display: none !important;
}

.swiper-nav-btns button {
	display: none !important;
}
