$color-white: #F4F5F9;
$color-black: #000;
$color-blue: #3877EE;
$color-black-blue: #42567A;
$color-iris: #5D5FEF;
$color-fuschia: #EF5DA8;

$color-gradient: linear-gradient(45deg, #3877EE, #EF5DA8);



